// Tooltips v4.0.0
// Copyright 2022 zkreations (https://zkreations.com/)

@import "inc/mixin";
@import "inc/variables";


// Especifidad a 0 para evitar conflicto
:where([data-tts]) {
  position: relative;
  display: inline-block;
  &::before {
    content: attr(aria-label);
  }
}

// Tooltips
// Variables con el prefijo "--tts" son estilos seguros de modificar
// Variables con el prefijo "--t" no deben modificarse

// Significado de variables
// op: opacity
// tt: transform (translate)
// tx: transform (translate X)
// ty: transform (translate Y)
// ts: transform (scale)
// to: transform origin
// po: position

[data-tts] {
  &::before, &::after {
    @include tts-core;
  }

  // Estado incial
  &:not(:hover):not([data-tts-visible]) {
    --t-op: 0;
    --t-tt: var(--tts-start-translate, #{$tts-start-translate});
    --t-ts: var(--tts-start-scale, #{$tts-start-scale});
  }

  // Estado Final
  &:hover, &[data-tts-visible] {
    --t-tt: var(--tts-end-translate, #{$tts-end-translate});
    --t-ts: var(--tts-end-scale, #{$tts-end-scale});
  }

  // Restamos la posicion definida por el usuario
  // Esto asegura que el globo empezará y terminará donde debería
  --t-po: calc(100% - var(--t-tt));

  // Fondo tanto para el indicador como el globo
  --t-bg: var(--tts-background, rgba(0, 0, 0, 0.9));

  // Tamaño del indicador
  --t-arrow: var(--tts-arrow, #{$tts-arrow-size});

  // Compensacion del indicador 
  --t-offset: var(--tts-arrow-offset, #{$tts-arrow-offset});

  // Texto
  &::before {
    @include tts-text;
    background-color: var(--t-bg);
  }

  // Indicador
  &::after {
    @include tts-arrow;
    border-width: var(--t-arrow);
  }
}

// Hacia arriba (Por defecto)
[data-tts*=up], [data-tts=""] {
  // Define la orientación (importante)
  --t-top: 0;

  // Posicion horizontal
  --t-left: 50%;
  --t-tx: -50%;

  // Globo
  &::before {
    // Restamos el tamaño de la flecha y multiplicamos para obtener un valor negativo
    --t-ty: calc((var(--t-po) + var(--t-arrow)) * -1);
  }

  // Indicador
  &::after {
    --t-to: top;
    --t-ty: calc(var(--t-po) * -1);
    border-top-color: var(--t-bg);
    border-bottom-width: 0;
  }
}


// Hacia abajo
[data-tts*=down] {
  // Define la orientación (importante)
  --t-bottom: 0;

  // Posicion horizontal
  --t-left: 50%;
  --t-tx: -50%;

  // Globo
  &::before {
    --t-to: top;
    // Restamos el tamaño de la flecha y multiplicamos para obtener un valor negativo
    --t-ty: calc(var(--t-po) + var(--t-arrow));
  }

  // Indicador
  &::after {
    --t-to: bottom;
    --t-ty: var(--t-po);
    border-bottom-color: var(--t-bg);
    border-top-width: 0;
  }
}

// Hacia la izquierda
[data-tts=left] {
  // Define la orientación (importante)
  --t-left: 0;

  // Posicion vertical
  --t-top: 50%;
  --t-ty: -50%;

  // Globo
  &::before {
    --t-to: right;
    // Restamos el tamaño de la flecha y multiplicamos para obtener un valor negativo
    --t-tx: calc((var(--t-po) + var(--t-arrow)) * -1);
  }

  // Indicador
  &::after {
    --t-to: left;
    --t-tx: calc(var(--t-po) * -1);
    border-left-color: var(--t-bg);
    border-right-width: 0;
  }
}


// Hacia la derecha
[data-tts=right] {
  // Define la orientación (importante)
  --t-right: 0;

  // Posicion vertical
  --t-top: 50%;
  --t-ty: -50%;

  // Globo
  &::before {
    --t-to: left;
    // Restamos el tamaño de la flecha y multiplicamos para obtener un valor negativo
    --t-tx: calc(var(--t-po) + var(--t-arrow));
  }

  // Indicador
  &::after {
    --t-to: right;
    --t-tx: var(--t-po);
    border-right-color: var(--t-bg);
    border-left-width: 0;
  }
}


// Up-Left
[data-tts=up-left], [data-tts=down-left] {
  --t-left: 0;
  --t-tx: 0;

  // Indicador
  &::after {
    --t-left: var(--t-offset);
  }
}

[data-tts=up-left] {
  // Globo
  &::before {
    --t-to: bottom left;
  }

  // Indicador
  &::after {
    --t-to: top left;
  }
}

[data-tts=down-left] {
  // Globo
  &::before {
    --t-to: top left;
  }

  // Indicador
  &::after {
    --t-to: bottom left;
  }
}

// Up-right
[data-tts=up-right], [data-tts=down-right] {
  --t-left: auto;
  --t-right: 0;
  --t-tx: 0;

  // Indicador
  &::after {
    --t-right: var(--t-offset);
  }
}

[data-tts=up-right] {
  // Globo
  &::before {
    --t-to: bottom right;
  }

  // Indicador
  &::after {
    --t-to: top right;
  }
}

[data-tts=down-right] {
  // Globo
  &::before {
    --t-to: top right;
  }

  // Indicador
  &::after {
    --t-to: bottom right;
  }
}
