@use "variables";

@mixin bubble {
  box-sizing: border-box;
  width: max-content;
  max-width: var(--tooltip-max-width, #{variables.$max-width});
  padding: var(--tooltip-padding, #{variables.$padding});
  border-radius: var(--tooltip-border-radius, #{variables.$border-radius});
  background-color: var(--tooltip-bg, #{variables.$background});
  color: var(--tooltip-color, #{variables.$color});
  font-family: var(--tooltip-font-family, #{variables.$font-family});
  font-size: var(--tooltip-font-size, #{variables.$font-size});
  font-weight: normal;
  line-height: var(--tooltip-line-height, #{variables.$line-height});
  opacity: var(--_o, 0);
  pointer-events: none;
  user-select: none;
  z-index: var(--tooltip-z-index, 10);
  transition-property: opacity, transform;
  transition-duration: var(--tooltip-duration, #{variables.$duration});
  transition-timing-function: var(--tooltip-easing, ease);
  will-change: transform, opacity;
}