$duration: 0.2s !default;
$gap: 0.5rem !default;
$background: rgb(0 0 0 / 90%) !default;
$color: #fff !default;
$size: 0.875rem !default;
$line-height: 1.5 !default;
$padding: 0.5em 0.75em !default;
$radius: 0.25em !default;
$max-width: 20rem !default;
$shadow: none !default;
