// Variables
$tts-duration: .3s;
$tts-arrow-size: 6px;
$tts-arrow-offset: 6px;
$tts-background: rgb(0 0 0 / 90%); // Solo color (background-color)

// Estado inicial
$tts-start-translate: 0px;
$tts-start-scale: 1;

// Estado final
$tts-end-translate: 0px;
$tts-end-scale: 1;

// Estilos (Se convierten en variables CSS)
$tts-text: (
  "font-size": 14px,
  "font-family": "Roboto, sans-serif",
  "color": #fff,
  "padding": 0.5em .75em,
  "border-radius": .25em,
) !default;