.tooltip {
  position: relative;
  --_o: 0;
  --_t: var(--tt-start, none);
}
.tooltip:is(:hover, :focus-visible, [data-tooltip-visible]) {
  --_o: 1;
  --_t: var(--tt-end, none);
}
.tooltip::before {
  content: attr(aria-label);
  position: absolute;
  bottom: calc(100% + var(--tt-gap, 0.5rem));
  left: 50%;
  translate: -50%;
  transform-origin: center bottom;
  box-sizing: border-box;
  max-width: var(--tt-max-width, 20rem);
  padding: var(--tt-padding, 0.5em 0.75em);
  border-radius: var(--tt-radius, 0.25em);
  background-color: var(--tt-bg, rgba(0, 0, 0, 0.9));
  color: var(--tt-color, #fff);
  font-size: var(--tt-size, 0.875rem);
  font-weight: normal;
  line-height: 1.5;
  pointer-events: none;
  user-select: none;
  z-index: var(--tt-z-index, 10);
  transition-duration: var(--tt-duration, 0.2s);
  transition-timing-function: var(--tt-ease, ease);
  box-shadow: var(--tt-shadow, none);
  transition-property: opacity, transform;
  opacity: var(--_o, 0);
  transform: var(--_t, none);
}

@supports (position-area: block-start) {
  .tooltip::before {
    position: fixed;
    position-anchor: auto;
    position-area: var(--tt-area, block-start);
    position-try-fallbacks: var(--tt-fallbacks, flip-block, flip-inline);
    inset: auto;
    margin: var(--tt-gap, 0.5rem);
    justify-self: anchor-center;
    translate: none;
    transform-origin: center;
  }
}
