*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  line-height: 1.5;
  text-size-adjust: 100%;
  tab-size: 4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  overflow-wrap: break-word;
}

body {
  margin: 0;
}

code,
pre {
  font-family: var(--font-monospace, monospace);
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  padding: 0;
  border-width: 0;
  color: inherit;
}

button,
[type='button'] {
  appearance: auto;
  background-color: transparent;

  &:not(:disabled) {
    cursor: pointer;
  }
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}
