:root {
  --primary: #14b8a6;
  --on-primary: #fff;
  --surface: #faf8ff;
  --on-surface: #0f172a;
  --surface-variant: #f1f4fb;
  --on-surface-variant: #64748b;
  --surface-container: #fff;
  --surface-container-low: rgb(248 250 252 / 50%);
  --outline: #cbd5e1;
  --outline-variant: #e2e8f0;
  --outline-subtle: rgb(226 232 240 / 60%);
  --inverse-on-surface: #fff;
  --inverse-surface-contrast: #000;
  --shadow-color: rgb(0 0 0 / 4%);
  --font-primary: 'Inter', sans-serif;
  --font-monospace: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
}
